---
// ProjectCard.astro
import myVideo from '../assets/pantrypalDemo.mp4'; 
import boardMobile from '../assets/BoardView-mobile.png';
import boardTablet from '../assets/BoardView-tablet.png';
import boardView from '../assets/BoardView.png'
// Extract the actual URL for each image
const mobileImage = 'src/assets/BoardView-mobile.png';
const tabletImage = 'src/assets/BoardView-tablet.png';
const desktopImage = 'src/assets/BoardView.png';

import { Picture } from 'astro:assets';
const { title, imageSrc, imageAlt, techStack, description, demoLink, videoSrc, footer } = Astro.props;
---


<fancy-card>
  <header>{title}</header>
  {videoSrc ? (
    <video controls>
      <source src={myVideo} type="video/mp4" />
      Your browser does not support the video element.
    </video>
  ) : (
    <picture>
        <!-- Medium screen (768px and up) -->
        <source srcset={tabletImage} media="(min-width: 768px)" />
        
        <!-- Large screen (1024px and up) -->
        <source srcset={desktopImage} media="(min-width: 1024px)" />
        
        <!-- Mobile view (default) -->
        <img src={mobileImage} alt="TripleS Board" />
    </picture>
  )}
  <ul>
    {description.map((item: unknown) => <li>{item}</li>)}
  </ul>
  {demoLink && <footer><a href={demoLink}>Project website</a></footer>}
  <footer>{footer}</footer>
</fancy-card>
